[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lokeshagrawal83
[access "refs/for/refs/*"]
	read = group user/lokeshagrawal83
	push = group user/lokeshagrawal83
	label-Code-Review = -2..+2 group user/lokeshagrawal83
	label-Verified = -1..+1 group user/lokeshagrawal83
	rebase = group user/lokeshagrawal83
	removeReviewer = group user/lokeshagrawal83
	submit = group user/lokeshagrawal83
[access "refs/heads/*"]
	read = group user/lokeshagrawal83
	create = group user/lokeshagrawal83
	push = +force group user/lokeshagrawal83
	pushMerge = group user/lokeshagrawal83
[access "refs/tags/*"]
	push = +force group user/lokeshagrawal83
	pushTag = group user/lokeshagrawal83
	pushSignedTag = group user/lokeshagrawal83
